<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage Design</title>
    <link rel="stylesheet" href="/assets/homepage.css">
    <link rel="stylesheet" href="/assets/aboutUs.css">
    
</head>
<body>
    <header>
        <div class="heading">
            <h1>About Us</h1>
            <p></p>
        </div>
    </header>

    <main>
        <div class="navbar">
            <div class="icon">
                <img src="/assets/iiestlogo3original.png" alt="Beings Logo" class="logo-img">
            </div>
        
        
                    

                   <div class="menu"></div>
                   <ul>
                    <li><a href="/login">LOGIN</a></li>
                    <li><a href="/signup">SIGNUP</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    

                   </ul>


                </div>
            </div>
        <section class="about-us">
            <img src="/assets/bidisha.png" alt="College Image">
            <div class="content">
                <h2>
                    Welcome to 'BEINGS' the ultimate platform designed to connect students through shared skills and interests in college clubs and activities.
                </h2> 
                <p>
                    Our mission is to foster meaningful connections among students who have similar passions and aspirations, helping them build a vibrant, supportive community.

                    We understand that finding the right club or group can be challenging. That’s why we’ve created a space where you can effortlessly discover and connect with peers who share your interests and goals. Whether you’re looking to join a club related to your academic field, explore new hobbies, or collaborate on exciting projects, our platform makes it easy to find your perfect match.

                    Our platform is dedicated to helping you maximize your college experience by connecting you with like-minded individuals. We believe that through collaboration and shared interests, students can unlock new opportunities, build lasting friendships, and achieve their goals together.
                </p>
            </div>
        </section>
    </main>
</body>
</html>
