* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    /* background-color: wheat; */
    /* background-color: rgba(151, 188, 245, 0.42); */
   

}

.heading {
    text-align: center;
    margin-top: 25px;
}

.heading h1 {
    font-size: 50px;
    /* color: burlywood; */
    color: rgb(14, 15, 3);
    margin-bottom: 10px;
    text-decoration: underline;
}

.heading p {
    font-size: 24px; /* Adjust this value as needed */
    color: darkslategray; /* Adjust the color as needed */
    margin-bottom: 50px;
    
}

.about-us {
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    gap: 20px; /* Optional: Add space between image and content */
    
}

.about-us img {
    flex: 1;
    max-width: 50%;
    height: auto;
    border: 3px solid black;
    border-style:double;
    border-radius: 5px;
}

.content {
    padding: 75px;
    flex: 1;
}

.content h2 {
    color: brown;
    font-size: 25px;
    line-height: 1.5;
    margin: 15px 0;
}

@media (max-width: 768px) {
    .about-us {
        flex-direction: column;
        align-items: center; /* Center-align items vertically when stacked */
    }

    .about-us img {
        max-width: 100%;
    }

    .content {
        padding: 15px;
        max-width: 100%; /* Ensure content doesn't overflow */
    }
}

