*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(network2.jpg);
    background-size: cover;   
    background-position: center;
    flex: wrap;
} 

.container{
    color: rgba(255, 255, 255, 0.966);
    width: 430px;
    height: 450px;
    position: absolute;
    bottom: 80px;
    background: linear-gradient(135deg, rgba(227, 231, 236, 0.737), rgba(255, 255, 255, 0));
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(241, 244, 245, 0.534);

}

#name{
    color: black;
    font-weight: bold;
    font-style: oblique;
    font-size: 17px;
    margin-top: 72px;
    margin-bottom: 7px;
    padding-left: 67px;
}

#password{
    color: black;
    font-weight: bold;
    font-style: oblique;
    font-size: 17px;
    margin-top: 14px;
    margin-bottom: 7px;
    padding-left: 67px;
}

.input{
    text-align: center;
    justify-content: center;
    
}
#inputname input[type="text"] {
    background-color: rgb(239, 231, 231);
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    height: 40px;
    width: 300px;
    padding-left: 5px;
    box-shadow: 1px 2px 3px;
    outline: none;

    

}

#inputpassword input[type="password"]{
    background-color: rgba(239, 231, 231, 0.651);
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    height: 40px;
    width: 300px;
    padding-left: 5px;
    box-shadow: 1px 2px 3px;
    outline: none;
}

#fpassword{
    text-decoration: none;
    font-style: italic;
    font-size: 15px;
    padding-left: 67px;
    padding-top: 21px;
}
#forgotpassword{
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

#loginbtn{
    font-size: 17px;
    font-style: oblique;
    font-weight: bolder;
    /* color: rgb(206, 224, 236); */
    height: 28px;
    width: 120px;
    margin-top: 20px;
    /* background-color: rgba(46, 5, 228, 0.413); */
    background-color: white;
    border: 2px solid;
    border-radius: 7px;
    border-color: rgba(21, 6, 243, 0.178);
    cursor: pointer;
    /* box-shadow: 1px 2px 3px; */
}
#loginbtn:hover{
    /* background-color: rgba(138, 232, 237, 0.619); */
    background-color: rgba(25, 42, 231, 0.959);
    color: white;
    cursor: pointer;
    /* border-bottom-right-radius: 20px;
    border-top-left-radius: 20px; */
}
#login{
    text-align: center;
   
}

#noaccount{
    font-style: oblique;
    font-size: 15px;
    padding-top: 45px;
    padding-left: 80px;
    height: 50px;
    display: inline-block;
}

#createaccount{
    font-style: italic bolder;
    font-size: 17px;
    color: rgb(0, 4, 2);
    display: inline-block;
    text-align: center;
    padding-top: 20px;
    padding-left: 2px;
    
}

#logo{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 75px;
    margin-left: 20px;
    top: 0px;
    left: 0px;
    cursor: pointer;
}




.header .navigation{
    position: fixed;
    display: flex;
    top: 0px;
    right: 0px;
}

#about{
    color: rgb(242, 236, 236);
    font-size: 18px;
    margin-top: 16px;
    margin-right: 65px;
    text-decoration: underline;
    font-style: italic;
}

#signup{
    border: 2px solid white;
    border-radius: 6px;
    color: rgb(239, 233, 233);
    background-color: rgba(21, 229, 6, 0.443);
    margin-top: 10px;
    font-size: 18px;
    margin-right: 36px;
    margin-left: -15px;
    padding: 6px;
    text-decoration: none;
    box-shadow: 1px 2px 3px;
    font-style: oblique;
}
#signup:hover{
    background-color: rgba(128, 224, 141, 0.671);
}


