* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body {
    background-image: url(network2.jpg);
    background-size: cover;
    background-position: center;

}

/* .outer {
    height:100vh;
    width: 100vw;
    background: linear-gradient(to top left);

} */

.inner {
    width: 500px;
    margin: 0px auto;
    position: relative;
    margin-top: 45px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    /* background: linear-gradient(to top, #ffffffff, #ffffff33); */
    background: linear-gradient(135deg, rgba(227, 231, 236, 0.737), rgba(255, 255, 255, 0));
    box-shadow: 0 8px 32px 0 rgba(241, 244, 245, 0.534);
    border:1px solid rgba(255, 255, 255, 0.18);
    backdrop-filter: blur 8px;
    border-radius: 10px;
    /* box-shadow: 2px 2px 5px #181138; */
}

#beings {
    color: aqua;
    font-size: 65px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    margin: 0 auto;
    position: absolute;
    left: 32.5%;
    bottom: 53%;

}

#beings2 {
    color: aqua;
    font-size: 65px;
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0 auto;
    position: absolute;
    left: 32.5%;
    bottom: 72.5%;

}

#create {
    /* color: var(--ds-neutral-100-solid); */
    color: black;
    margin: 0 auto;
    font-size: 35px;
    text-align: center;
    /* font-family: "Open Sans", sans-serif; */
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* .inner1{
    width:400px;
    margin: 0 auto;
    position: relative;
    top:10%;
    padding-right:40px;
    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: linear-gradient(to top,#ffffffff,#ffffff33);
    backdrop-filter: blur 8px ;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #181138;
} */
.signupheader h1 {
    color: #212121;
    position: center;
}

.signupbody {
    margin: 10px 0;
}

.signupbody p {
    margin: 10px 0;
}

.signupbody p label {

    display: block;


}

/* #logo {
    margin: 0 auto;
    position: relative;
    left: -15px;
} */

.signupbody p input {
    width: 100%;
    padding: 10px;
    border: 4px;

}

#inline-field input,
#inline-field label {
    display: inline-block;
}

#cont1 {
    width: 100%;
    padding: 10px;
    border: 4px;
}

#next {
    font-size: 1.5em;
    text-decoration: none;
    border: none;
    color: #311b92;
    cursor: pointer;
    position: relative;
    left: 80%;
    font-size: 1.3em;

}

#previous {
    font-size: 1.5em;
    text-decoration: none;
    border: none;
    color: #311b92;
    cursor: pointer;


}

#clear {
    background-color: #211070;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.3em;
    border-radius: 15px;
    width: 300px;
    margin-left: 75px;
    margin-top: 25px;


}

#clear:hover {
    background-color: #076ff7;
    color: white;
}

#submit {
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.3em;
    border-radius: 15px;
    width: 300px;
    margin-left: 75px;
    background-color: #211070;



}

#submit:hover {
    background-color: #076ff7;
    color: white;
}

#myfirstname {
    border-radius: 10px;
    outline: none;
}

#mysurname {
    border-radius: 10px;
    outline: none;
}

#myroll {
    border-radius: 10px;
    outline: none;
}

#myemail {
    border-radius: 10px;
    outline: none;
}

#dob {
    border-radius: 10px;
    outline: none;
}

.radio-btn {
    margin-right: 10px;
}


.logo {
    position: fixed;
    top: 0px;
    height: 10px;
    width: 10px;
    cursor: pointer;
}

#about {
    position: fixed;
    top: 0;
    right: 80px;
    color: rgb(242, 236, 236);
    font-size: 18px;
    margin-top: 16px;
    margin-right: 65px;
    text-decoration: underline;
    font-style: italic;
}

#login {
    position: fixed;
    top: 0;
    right: 0;
    border: 2px solid white;
    border-radius: 6px;
    color: rgb(239, 233, 233);
    background-color: rgba(21, 229, 6, 0.443);
    margin-top: 10px;
    font-size: 18px;
    margin-right: 36px;
    margin-left: -15px;
    padding: 6px;
    text-decoration: none;
    box-shadow: 1px 2px 3px;
    font-style: oblique;
}

.input-info
{
    margin-bottom: 5px;
    font-weight: bold;
}
/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Background and Body Styles */
body {
    background-image: url(network2.jpg);
    background-size: cover;
    background-position: center;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Container for form */
.inner {
    width: 500px;
    margin-top: 45px;
    padding: 40px 20px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(241, 244, 245, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(8px);
}

/* Logo and navigation */
.logo {
    position: fixed;
    top: 10px;
    left: 10px;
}

.logo a img {
    height: 75px;
    width: 75px;
}

#about,
#login {
    position: fixed;
    top: 20px;
    font-size: 18px;
    color: white;
    text-decoration: underline;
}

#about {
    right: 100px;
}

#login {
    right: 30px;
    background: rgba(21, 229, 6, 0.6);
    padding: 6px 12px;
    border-radius: 6px;
    border: 2px solid white;
    font-style: italic;
}

/* Form Header */
#create {
    color: black;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

/* Form Elements */
.signupbody p {
    margin-bottom: 15px;
}

.signupbody label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.signupbody input[type="text"],
.signupbody input[type="email"],
.signupbody input[type="date"],
.signupbody input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
    margin-top: 5px;
}

/* Gender Radio Buttons */
.radio-btn {
    margin-right: 10px;
}

/* Checkbox alignment */
#inline-field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#myagreement {
    margin-left: 10px;
}

/* Buttons */
#clear,
#submit {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
}

#clear {
    background-color: #211070;
    margin-bottom: 15px;
}

#clear:hover {
    background-color: #076ff7;
}

#submit {
    background-color: #311b92;
}

#submit:hover {
    background-color: #076ff7;
}
